- var x, y, z, rz;
- var title = 'Too Many Emails, Too Many Passwords';
- var subtitle = 'Managing Multiple Online Identities';
doctype 5
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', width=800)
        title #{title} (#{subtitle})
        link(rel='stylesheet', href='style/presentation.css')
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    body.impress-not-supported
        .fallback-message
            | Your browser doesn't seem to support the features required for this presentation.
        #impress
            - x = 0, y = 0, z = 0
            #title.step.slide(data-x=x, data-y=y, data-z=z)
                h1.title
                    | Too Many Emails,
                    br/
                    | Too Many Passwords
                h2.subtitle=subtitle
                h3.name
                    img.arrow(src='img/persona-logo.png')
                    | Nathan Malkin

            - x += 1000
            #overview.step.slide(data-x=x, data-y=y)
                ol
                    li
                        | instrumenting and visualizing metrics
                        .sub for the Mozilla Persona user interface
                    li
                        | disposable email addresses
                        .sub for sites that don't use Persona and those that do
                    li
                        | managing your passwords
                        .sub see how you're doing and act on it

            - x -= 1000
            #name-again.step.slide(data-x=x, data-y=x)
                h3.name
                    img.arrow(src='img/persona-logo.png')
                    | Nathan Malkin
            - x -= 1000, y -= 1000
            #nate.step(data-x=x, data-y=y, data-rotate=-90)
                h3.name
                    img.arrow(src='img/arrow.png')
                    | Nate
            - x -= 1000, y += 1000
            #nmalkin.step(data-x=x, data-y=y, data-rotate=-180)
                h3.name
                    img.arrow(src='img/arrow.png')
                    | nmalkin
            - x += 1000, y += 1000, rz = -270
            #email.step(data-x=x, data-y=y, data-rotate=rz)
                h3.name
                    img.arrow(src='img/arrow.png')
                    | nmalkin@mozilla.com
            - x -= 500
            #nicknames.step(data-x=x, data-y=y, data-rotate=rz)
                ul
                    li
                        | Could be 
                        span.nick PinkAndFluffy
                    li
                        | Could be 
                        span.nick SilentSlayer
            .step(data-x=x, data-y=y, data-rotate=rz)
                p
                    img(src='img/real-name-quora.png', alt='real name policy')
                p
                    img(src='img/real-name-facebook.png', alt='real name policy')
                p
                    img(src='img/real-name-youtube.png', alt='real name policy')

            .step(data-x=x, data-y=y, data-rotate=rz)
                p
                    img(src='img/facebook-cow.png', alt='Facebook cow')

            .step(data-x=x, data-y=y, data-rotate=rz)
                p
                    img(src='img/verification.png', alt='Screenshot of verification message')

            .step(data-x=x, data-y=y, data-rotate=rz)
                ul
                    li "Yahoo password breach reveals 400K passwords"
                    li "LinkedIn's Password Breach Draws FBI's Attention"
                    li "Dating site eHarmony confirms password breach"
                    li "Dropbox Password Breach"
                    li "Blizzard Entertainment Warns of Password Breach"

            .step(data-x=x, data-y=y, data-rotate=rz)
                p
                    img(src='img/facebook_logo.jpg', width='200', alt='Facebook')

            .step(data-x=x, data-y=y, data-rotate=rz)
                p
                    img(src='img/thumbs-up.jpg', alt='Mark Zuckerberg gives thumbs up')

            - y += 700
            #facebook-quote.step(data-x=x, data-y=1700, data-rotate=rz)
                p
                    | "Love/hate relationship with Facebook.
                    | I purposefully try not to use any app that runs through the site."
                p.attribution from a user study

            - y -= 700
            .step(data-x=x, data-y=y, data-rotate=rz)
                p
                    img(src='img/thumbs-up.jpg', alt='Mark Zuckerberg gives thumbs up')

            - rz = -90
            .step(data-x=x, data-y=y, data-rotate-z=-rz )
                p(style='width:500px; margin:0 auto')
                    img(src='img/persona-logo-wordmark.png', style='width:500px')

            .step(data-x=x, data-y=y, data-rotate-z=-rz )
                - var width = 400
                p(style='width:#{width}px; margin:0 auto')
                    img(src='img/license.jpg', style='width:#{width}px')

            .step(data-x=x, data-y=y, data-rotate-z=-rz )
                p no intermediaries!

            .step(data-x=x, data-y=y, data-rotate-z=-rz)
                p no intermediaries?

            .step(data-x=x, data-y=y, data-rotate-z=-rz )
                - width = 700
                p(style='width:#{width}px; margin:0 auto')
                    img(src='img/signin.png', style='width:#{width}px')

            .step(data-x=x, data-y=y, data-rotate-z=-rz )
                - width = 800
                p(style='width:#{width}px; margin:0 auto')
                    img(src='img/persona-flows.png', style='width:#{width}px')

            .step(data-x=x, data-y=y, data-rotate-z=-rz )
                p Are people able to successfully use the service?

            - z -= 1000
            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz)
                ul
                    li Can new users sign up?
                    li Are they able to use multiple email addresses?
                    li If they forgot their password, can they reset it?
    
            - z -= 1000
            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz)
                ul
                    li If not, why? Where are we losing people?
                    li
                        | Who are we losing?
                        ul
                            li Specific locales?
                            li Specific technologies?

            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz)
                p Step 1: data collection


            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz)
                p How do we keep track of these events?


            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz)
                p Where is the data sent?

            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz)
                p And what happens then?

            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz)
                p What's next?

            - var rx = 90
            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz, data-rotate-x=rx)
                p Emails

            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz, data-rotate-x=rx)
                p What's next?

            - rx += 90
            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz, data-rotate-x=rx)
                p Passwords

            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz, data-rotate-x=rx)
                - var img = 'high.jpg', width = 380
                p(style='width:#{width}px; margin:0 auto')
                    img(src='img/#{img}', style='width:#{width}px')

            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz, data-rotate-x=rx)
                - img = 'passwords.png', width = 659
                p(style='width:#{width}px; margin:0 auto')
                    img(src='img/#{img}', style='width:#{width}px')

            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz, data-rotate-x=rx)
                - img = 'strength.png', width = 600
                p(style='width:#{width}px; margin:0 auto')
                    img(src='img/#{img}', style='width:#{width}px')

            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz, data-rotate-x=rx)
                p "[When there's a strength indicator], I don't always get the number of bars I think I should get."
                p
                    i from a user study

            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz, data-rotate-x=rx)
                p
                    | Ur et al.,
                    br
                    i The Effect of Strength Meters on Password Creation:
                    br
                    | "most differences were not statistically significant"

            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz, data-rotate-x=rx)
                - img = 'crack.png', width = 500
                p(style='width:#{width}px; margin:0 auto')
                    img(src='img/#{img}', style='width:#{width}px')

            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz, data-rotate-x=rx)
                p 6.5 passwords / 25 accounts

            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz, data-rotate-x=rx)
                - img = 'low.jpg', width = 380
                p(style='width:#{width}px; margin:0 auto')
                    img(src='img/#{img}', style='width:#{width}px')

            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz, data-rotate-x=rx)
                p

            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz, data-rotate-x=rx)
                p What's next?

            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz, data-rotate-x=rx)
                - img = 'skycrane.png', width = 560
                p(style='width:#{width}px; margin:0 auto')
                    img(src='img/#{img}', style='width:#{width}px')

            .step(data-x=x, data-y=y, data-z=z, data-rotate-z=-rz, data-rotate-x=rx)
                - img = 'mars.jpg', width = 800
                p(style='width:#{width}px; margin:0 auto')
                    img(src='img/#{img}', style='width:#{width}px')






        script(src='impress/js/impress.js')
        script
            impress().init();
